@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

/* Schedule Popup */
#schedule-popup {
    background-color: #dddddd;
    z-index: 5;
    margin: auto;
    width: 800px;
    position: fixed;
    left: 150px;
}
#schedule-popup td {
    width:90px;
}
#toggle-schedule-popup {
    height: 50px;
    width: 50px;
    background-color: #999;
    z-index: 6;
    margin: auto;
    width: 50px;
    position: fixed;
    cursor: pointer;
    left: 950px;
}
#close-schedule-popup {
    height: 50px;
    width: 50px;
    background-color: #666;
    z-index: 6;
    margin: auto;
    width: 50px;
    cursor: pointer;
    position: fixed;
    left: 1000px;
}

.floatRight {
   float: right;
}
.floatCenter {
   cvv1uto;
   margin-right: auto;
   width: 10%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 5px;
}
#header {
    text-align:center;
    padding-bottom:5px;
    font-family: 'Open Sans Condensed', sans-serif;
}
#scroll{
    height: 100px;
    width: 100%;
    overflow: auto;
}
#section {
    text-align:left;
    border: 2px solid #a1a1a1;
    
    padding: 10px 40px; 
    background: #dddddd;
    width: 300px;
    border-radius: 25px;
    
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#section2 {
    text-align:center;
    border: 2px solid #a1a1a1;
    
    padding: 10px 40px; 
    background: #dddddd;
    width: 300px;
    border-radius: 25px;
    
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#header img {
    margin: auto;
    padding-left: 20%;
}
.home-btn { 
    font-size: 40px;
    float: left;
}
.logout-btn { 
    font-size: 40px;
    float: right;
}

/* BUTTON STUFF */
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #d93434;
  padding: 4px 9px 4px 9px;
  text-decoration: none;
  border: 0px;
}

.btn:hover {
  background: #fc3c3c;
  text-decoration: none;
}
/* TABLE STUFF */

#hor-zebra
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#hor-zebra th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	color: #039;
}
#hor-zebra td
{
	padding: 8px;
	color: #669;
}
#hor-zebra .odd
{
	background: #e8edff; 
}


#ver-zebra
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#ver-zebra th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	color: #039;
}
#ver-zebra td
{
	padding: 8px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	color: #669;
}
.vzebra-odd
{
	background: #eff2ff;
}
.vzebra-even
{
	background: #e8edff;
}
#ver-zebra #vzebra-adventure, #ver-zebra #vzebra-children
{
	background: #d0dafd;
	border-bottom: 1px solid #c8d4fd;
}
#ver-zebra #vzebra-comedy, #ver-zebra #vzebra-action
{
	background: #dce4ff;
	border-bottom: 1px solid #d6dfff;
}
