{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'js/adminDash.js' %}"></script>
{% endblock js %}

{% block content %}

<table>
  <tr>
    <th>Account Request</th>
    <th><input type="button" class="btn" value = "Accept All" \
  onClick="Javacsript:acceptAll()"></button></th>      
    <th>Search: <input type="text" name="searchStudent">
</th>
  </tr>
</table>
<table id = "manageAccountReq">
</table>

<br>
<br>

<table>
  <tr>
    <th>Schools</th>
    <th><form action="/create_school"><button class="btn" type="addSchool" >Add School</button></form>
</th>       
    <th>Search: <input type="text" name="searchSchool">
</th>
  </tr>
</table>

<table id = "manageSchool">
</table>

<br>
<br>

<table>
  <tr>
    <th>Manage Students</th>
    <th>Search: <input type="text" name="searchStudents"></th>
  </tr>
</table>
<div id="scroll">
<table id = "manageStudents">
</table>
</div>
<body onload="start();">
<br>

{% endblock %}
