{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'js/adminDash.js' %}"></script>
{% endblock js %}

{% block content %}

<table>
  <tr>
    <th>Account Request</th>
    <th><input type="button" class="btn" value = "Accept All" \
  onClick="Javacsript:acceptAll()"></button></th>      
    <th>Search: <input type="text" name="searchStudent">
</th>
  </tr>
</table>
<div id="manageAccountReq"></div>
    <table id = "studentAccountRequest">
        <tr>
          <td><b>Name</b></td>
          <td><b>Email</b></td>
          <td><b>School</b></td>
          <td><b>Accept</b></td>
          <td><b>Deny</b></td>
        </tr>
        {%for user in users%}
        <tr>
              <td class="student-name">{{ user.first_name }} {{ user.last_name }}</td>
              <td class="student-email">{{ user.email }}</td>
              <td class="student-school">{{ user.school }}</td>
              <td><input type="button" class="btn accept-req" value = "Accept" \
                onClick="Javacsript:acceptStudentRequest(this)"></button></td>
              <td><input type="button" class="btn deny-req" value = "Deny" \
                onClick="Javacsript:denyStudentRequest(this)"></td>
        </tr>
            
        {% endfor %}

    </table>
<br>
<br>

<table>
  <tr>
    <th>Schools</th>
    <th><form action="/create_school"><button class="btn" type="addSchool" >Add School</button></form>
</th>       
    <th>Search: <input type="text" name="searchSchool">
</th>
  </tr>
</table>

<div id="manageSchool"></div>
    <table>
        <tr>
            <td><b>Name</b></td>
            <td><b>School Address</b></td>
            <td><b>View/Edit</b></td>
            <td><b>Delete</b></td>
        </tr>
        {%for school in schools%}
        <tr>

            <td class="school-name">{{ school.name }}</td>
            <td class="school-address">{{ school.address }}</td>
            <td><button type="button" class="btn edit-btn">Edit</button></td>
        <td><button type="button" class="btn" onClick="Javacsript:deleteSchool(this)">Delete</button></td>
        </tr>
            
        {% endfor %}

    </table>

<br>
<br>

<table>
  <tr>
    <th>Manage Students</th>
    <th>Search: <input type="text" name="searchStudents"></th>
  </tr>
</table>
<div id="scroll">
<div id="manageStudents">

<table>
        <tr>
            <td><b>Name</b></td>
            <td><b>Email</b></td>
            <td><b>School</b></td>
            <td><b>Delete</b></td>
        </tr>
        {%for active_user in active_users%}
        <tr>
            <td class="student-name">{{ active_user.first_name }} {{ active_user.last_name }}</td>
            <td class="email-address">{{ active_user.email }}</td>
            <td class="student-school">{{ active_user.school }}</td>
        <td><button type="button" class="btn" onClick="">Delete</button></td>
        </tr>
            
        {% endfor %}
</table>

</div>
</div>

<br>

{% endblock %}
