{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    {% block js %}{% endblock %}
  </head>

  <body>
<div id="header">
<div class="home-btn"><a href="../dashboard/">Home</a></div>
<div class="logout-btn"><a href="../logout/">Logout</a></div>
</div>

          {% block container %}
              {% block content %}{% endblock %}
          {% endblock %}

      <footer>
          {% block footer %}<p>© Be Happy. One Love. Peace.{% endblock %}
      </footer>

    </div> <!-- /container -->


  </body>
</html>
