{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    {% block js %}{% endblock %}
  </head>

  <body>
<div id="header">
<div class="home-btn"><a href="../dashboard/">Home</a></div>
<div class="logout-btn"><a href="../logout/">Logout</a></div>
</div>

          {% block container %}
              {% block content %}{% endblock %}
          {% endblock %}

      <footer>
          {% block footer %}<p>© Be Happy. One Love. Peace.{% endblock %}
      </footer>

    </div> <!-- /container -->


  </body>
</html>
