{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'js/createSchool.js' %}"></script>
{% endblock js %}

{% block content %}

<div id="section">
<p>
<form>
Name:
<input type="text" name="name">
<br>
Days in Academic Year: 
<input type="text" id = "academicYear" name="daysInYear">
<br>
Number of Semesters in a Year
<input type="text" id = "numberOfSem" name="semesterInYear">
<br>
Number of days in a schedule 
<input type="text" id = "dayInASchedule" name="daysInSch">
<br>
Number of periods in a day: 
<input type="text" id = "periodInADay" name="periodInDay">
<br>

<div id="dialog-error-number-period" title="Error Periods In A Day">
  <p>The end period exceeds the number of periods in day.
</p>
</div>

Range of periods lunch is offered
<table id = "periodLunch">
</table>
<table>
<tr>
<td>
<p class="floatCenter">
<input type="button" class="btn" value = "Add" \
  onClick="Javacsript:addToPeriodLunch()"></button>
</p>
</td>
</tr>
</table>
<br>

Set of Legal Blocks
<table id = "legalBlocks">
</table>
<table>
<tr>
<td>
<p class="floatCenter">
<input type="button" class="btn" value = "Add" \
  onClick="Javacsript:addToLegalBlocks()"></button>
</p>
</td>
</tr>
</table>

<br>
<p class="floatRight">
<button type="cancel" >Cancel</button>
<button type="save">Save</button>
</p>

<body onload="start();">

{% endblock %}