{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

  </head>

  <body>
<div class="header">
<img style="padding-left: 30%;"src="{% static "images/logo.png" %}">
</div>

<div id="header">
<h1>Create Account</h1>
</div>

<div id="section">
<p>
<form>
Student Name:
<input type="text" name="studName">
<br>
Email Address: 
<input type="text" name="email">
<br>
Password:
<input type="text" name="password">
<br>
Confirm Password:
<input type="text" name="confirm">
<br>
School:
<input type="text" name="school">
<br>
</p>


</form>

<div class="floatRight">
<form action="../login/">
<button type="cancel">Cancel</button>
<button type="reqAcct">Request</button>
</form>
</div>

</div>


  </body>
</html>