{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'js/createSchool.js' %}"></script>
{% endblock js %}

{% block content %}

<div id="section">
<p>
<form method="post" id="create_school_form">
    {% csrf_token %}
Name:
<input type="text" name="name"><span id="err_name" class="error"></span>
<br>
School Address: 
<input type="text" id = "address" name="address"><span id="err_address" class="error"></span>
<br>
Days in Academic Year: 
<input type="text" id = "daysInAcademicYear" name="daysInYear"><span id="err_day_acad" class="error"></span>
<br>
Academic Year: 
<input type="text" id = "academicYear" name="academicYear"><span id="err_academic_year" class="error"></span>
<br>

Number of Semesters in a Year
<input type="text" id = "numberOfSem" name="semesterInYear"><span id="err_number_semester" class="error"></span>
<div id="semester"></div>

Number of days in a schedule 
<input type="text" id = "dayInASchedule" name="daysInSch"><span id="err_days" class="error"></span>
<br>

Number of periods in a day: 
<input type="text" id = "periodInADay" name="periodInDay"><span id="err_periods" class="error"></span>
<br>
<div id="periodLunch"></div>
<br>

Set of Legal Blocks
<div id="legalBlocks"></div>
<table>
<tr>
<td>
<p class="floatCenter">
<input type="button" class="btn" value = "Add" \
  onClick="Javacsript:addToLegalBlocks()"></button>
</p>
</td>
</tr>
</table>

<br>
<p class="floatRight">
<button id="save_btn" type="submit" name="save" value="Save">Save</button>
<button type="submit" name="cancel" value="Cancel">Cancel</button>
</p>


{% endblock %}
