{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

  </head>

  <body>
<div class="header">
</div>

<div id="header">
<h1>Create Account</h1>
</div>

<div id="section">
<p>
<form method="post">
    {% csrf_token %}
Student Name:
<input type="text" name="studName" value="{{ studName }}">
{{ err_studName }}
<br>
School:
<input type="text" name="school" value="{{ school }}">
{{ err_school }}
<br>
Email Address: 
<input type="text" name="email" value="{{ email }}">
{{ err_email }}
<br>
School Address: 
<input type="text" name="address" value="{{ address }}">
{{ err_address }}
<br>
Password:
<input type="password" name="password">
{{ err_pw }}
<br>
Confirm Password:
<input type="password" name="confirm">
{{ err_conf_pw }}
<br>
</p>

<button type="submit" name="request" value="Request">Request</button>
<button type="submit" name="cancel" value="Cancel">Cancel</button>

</form>

<div class="floatRight">
</div>

</div>


  </body>
</html>
