{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

  </head>

  <body>
<div class="header">

</div>
<div id="section">
    <h2 class="test">Login In</h2>
{% if errors %}
<p>{{ errors }}</p>
{% endif %}
    <p>
        <form method="post">
        {% csrf_token %}
            Email Address:
            <input type="text" name="email" value="{{ username }}">
            <br> Password:
            <input type="password" name="password">
            <br>
            <br>
            <button type="signIn">Sign In</button>
            <br>
        </form>
        <form action="/create_user">
            <button type="createStudAcct">Create Account</button>
        </form>
    </p>
</div>


  </body>
</html>
