{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'js/studentDash.js' %}"></script>
{% endblock js %}

{% block content %}

<table>
  <tr>
    <th><input type="button" value = "Friend List" onclick="Javascript:displayFriendList()"></button></th>
    <th><input type="button" value = "Friend Manage Requests" onclick="Javascript:displayFriendReq()"></button></th>    
    <th><input type="text" id="studentName">
        <input type="button" id = "sendFriendRequest" value = "Add Friend"></button></th>      
    <th>Search: <input type="text" name="searchStudent">
</th>
  </tr>
</table>

<div id="friendList"></div>
<div id="friendReqList"></div>

<br>
<br>

<table>
  <tr>
    <th><input type="button" value = "Assigned Schedule" onclick="Javascript:displayAssign()"></button></th>
    <th><input type="button" value = "Generate Schedule" onclick="Javascript:displayGen()"></button></th>    
    <th><input type="text" class="academicYears" placeholder="Academic Year"></th>       
    <th>
         <select>
            <option value="year">Semester</option>
            <option value="spring">Spring</option>
            <option value="summer">Summer</option>
            <option value="fall">fall</option>
            <option value="winter">winter</option>
         </select>
    </th>
  </tr>
</table>

<div id="assignSch"></div>
<div id="genSch"></div>
<div id="lunSch"></div>

<p class="floatRight">
<span id="genButtons">
<button type="export" class="btn">Export</button>
<button type="generate" class="btn">Generate</button>
</span>
<span id="assignButtons">
<button type="save" class="btn">Save</button>
</span>
</p>

{% endblock %}
