{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'js/studentDash.js' %}"></script>
{% endblock js %}

{% block content %}

<table>
  <tr>
    <th><input type="button" value = "Friend List" onclick="Javascript:displayFriendList()"></button></th>
    <th><input type="button" value = "Friend Manage Requests" onclick="Javascript:displayFriendReq()"></button></th>    
    <th><input type="text" id="studentName">
        <input type="button" id = "sendFriendRequest" value = "Add Friend"></button></th>      
    <th>Search: <input type="text" name="searchStudent">
</th>
  </tr>
</table>

<div id="friendList"></div>
<div id="friendReqList"></div>

<br>
<br>
<!-- <input type="button" value = "View Course Offerings" onclick="Javascript:displayCourseOffering()"></button>
<div id="course_offerings"></div> -->
<br>
<br>


<table>
  <tr>
    <th><input type="button" value = "Assigned Schedule" onclick="Javascript:displayAssign()"></button></th>
    <th><input type="button" value = "Generate Schedule" onclick="Javascript:displayGen()"></button></th>    
    <th><input type="text" id = "academicYears" class="academicYears" placeholder="Academic Year"></th>       
    <th>
         <select id = "semester">
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>
            <option value="Winter">Winter</option>
         </select>
    </th>
  </tr>
</table>

<div id="assignSch"></div>
<div id="genSch"></div>
<div id="lunSch"></div>

<p class="floatRight">
<span id="genButtons">
<button type="export" class="btn">Export</button>
<button type="generate" class="btn">Generate</button>
</span>
<span id="assignButtons">
<button type="view_assigned" class="btn">View Assigned Schedule</button>
</span>
</p>

{% endblock %}
